@import url(https://fonts.googleapis.com/css?family=Oswald|Fira+Sans:400,700italic);

body  {
	background-color: #CDDBE8;
	font-family:  'Oswald', sans-serif;

}
h1{	
	color: red;
	font-family: 'Fira Sans', sans-serif;text-align:center;
}

	a:link, a:visited; {
		color: #5B7E9B;
}
#p1{color: green;}
#p2{color: blue;}

<p class="hello">Text,/p>
>p class="hello">Text 2</p>